
@model dynamic;


@{
    ViewBag.Title = "My Staff";
    bool found = false;
}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: -moz-available;
        border: 1px solid #ddd;
        
    }

    .displayTableBody {
        height: 220px;
        overflow-y: scroll;
        overflow-x: auto;
    }

    th, td {
        display: flex;
        text-align: left;
        padding-left:15px;
        padding-right: 15px;
        padding-top:10px;
        padding-bottom:10px;
    }
    tr {
        display: flex;
        
        
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
 
    }
    .displayEmail{

        width:230px;
    }
    .displayName{
        width:130px;
    }
    .displayPhone{
        width:135px;
    }
    .displayStaffType{
        width:70px;
    }
    .displaySubject {
        width:90px;
    }
    
    .displayHomeroom{
        width:90px;
    }
    .displayClasses {
        width:100px
    
    }
</style>

<div class="main-panel-div1">
    <div class="main-panel-upper1">
        <b class="my-staff-b2">@ViewBag.Title</b>
        <div class="search-buttons">
            <input class="input-field-default-with-i"
                   type="search"
                   placeholder="Office staff or teachers..."
                   autofocus />
            <div class="dropdown-default-basic">
                <div class="helper-button-icon">
                    <div class="helper-button-label">Subject...</div>
                    <!--
                <img class="chevron-down-icon"
                        alt=""
                        src="public/chevrondown.svg" />
                -->
                </div>
            </div>
        </div>
        <div class="buttons-add-remove-staff">
            <b class="teachers-b">Staff</b>

                <button class="button-add-staff-member"
                        onclick=""
                        autofocus
                        id="buttonAddStaffMember">
                    <b class="button-label">
                        <a asp-action="AddStaff" asp-controller="Staff" >
                            Add Staff
                        </a>
                    </b>
                </button>

        </div>
        <div style="width: -moz-available;">
            <table>

                <tr>
                    <th class="displayName">Name</th>
                    <th class="displayStaffType">Staff Type</th>
                    <th class="displayEmail">Email</th>
                    <th class="displayPhone">Phone</th>
                    <th class=" displaySubject">Subject</th>
                    <th class="displayHomeroom">Homeroom</th>
                    <th class="displayClasses">Classes</th>
                    <th>Actions</th>

                </tr>
                <tbody class="displayTableBody">
                    @foreach (var staff in Model.OfficeStaff)
                    {
                        found = false;

                    <tr>
                        <td class="displayName">@staff.FirstName @staff.FathersName</td>
                        <td class="displayStaffType">Office Staff</td>
                        <td class="displayEmail">@staff.Email</td>
                        <td class="displayPhone">@staff.Phone</td>
                        <td class="displaySubject">-</td>
                        <td class="displayHomeroom">-</td>
                        <td class="displayClasses">-</td>
                        <td>
                            <button class="pencil-alt-button">
                                <img class="vector-icon3" alt="" src="~/Assets/IconEdit.svg" />
                            </button>
                            <div class="classes-div">|</div>
                            <button class="pencil-alt-button">
                                <img class="vector-icon4" alt="" src="~/Assets/IconTrash.svg" />
                            </button>
                        </td>
                    </tr>
                    }
                    @foreach (var teacher in Model.Teacher)
                    {
                        found = false;

                        <tr>
                            <td class="displayName">@teacher.FirstName @teacher.FathersName</td>
                            <td class="displayStaffType">Teacher</td>
                            <td class="displayEmail">@teacher.Email</td>
                            <td class="displayPhone">@teacher.Phone</td>
                            <td class="displaySubject">-</td>                                                                
                            <td class="displayHomeroom">-</td>
                            <td class="displayClasses">-</td>

                            <td>
                                <button class="pencil-alt-button">
                                    <img class="vector-icon3" alt="" src="~/Assets/IconEdit.svg" />
                                </button>
                                <div class="classes-div">|</div>
                                <button class="pencil-alt-button">
                                    <img class="vector-icon4" alt="" src="~/Assets/IconTrash.svg" />
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!--
    <div class="view-staff" id="Table - Added Staff Queue">
        <div class="column-name">
            <div class="header-div8"><div class="classes-div">Name</div></div>
            <div class="content-div8">
                <div class="text-group-basic15">
                    <b class="levi-ackemann-b">Levi Ackemann</b>
                    <div class="div4">11023</div>
                </div>
            </div>
            <div class="divider-solid23">
                <div class="baseline-div23"></div>
            </div>
            <div class="content-div8">
                <div class="text-group-basic15">
                    <b class="levi-ackemann-b">Annie Leonheart</b>
                    <div class="div4">123301</div>
                </div>
            </div>
        </div>
        <div class="column-staff-type">
            <div class="header-div9">
                <div class="classes-div">Type</div>
            </div>
            <div class="content-div10">
                <div class="office-staff-div">Office Staff</div>
            </div>
            <div class="divider-solid23">
                <div class="baseline-div23"></div>
            </div>
            <div class="content-div10">
                <div class="office-staff-div">Teacher</div>
            </div>
        </div>
        <div class="column-name">
            <div class="header-div9"><div class="classes-div">Email</div></div>
            <div class="content-div12">
                <div class="ltlevieldiamailcom-div">lt.levi@Eldiamail.com</div>
            </div>
            <div class="divider-solid23">
                <div class="baseline-div23"></div>
            </div>
            <div class="content-div12">
                <div class="ltlevieldiamailcom-div">
                    annieleonheart@Marleymail.com
                </div>
            </div>
        </div>
        <div class="column-staff-type">
            <div class="header-div9">
                <div class="classes-div">Phone</div>
            </div>
            <div class="content-div14">
                <div class="office-staff-div">0912131415</div>
            </div>
            <div class="divider-solid23">
                <div class="baseline-div23"></div>
            </div>
            <div class="content-div14">
                <div class="office-staff-div">0953436373</div>
            </div>
        </div>
        <div class="column-staff-type">
            <div class="header-div9">
                <div class="classes-div">Subject</div>
            </div>
            <div class="content-div16">
                <div class="office-staff-div">-</div>
            </div>
            <div class="divider-solid23">
                <div class="baseline-div23"></div>
            </div>
            <div class="content-div14">
                <div class="office-staff-div">English</div>
            </div>
        </div>
        <div class="column-homeroom">
            <div class="header-div9">
                <div class="classes-div">Homeroom</div>
            </div>
            <div class="content-div16">
                <div class="office-staff-div">-</div>
            </div>
            <div class="divider-solid23">
                <div class="baseline-div23"></div>
            </div>
            <div class="content-div16">
                <div class="office-staff-div">9A</div>
            </div>
        </div>
        <div class="column-classes2">
            <div class="header-div9">
                <div class="classes-div">Classes</div>
            </div>
            <div class="content-div16">
                <div class="office-staff-div">-</div>
            </div>
            <div class="divider-solid23">
                <div class="baseline-div23"></div>
            </div>
            <div class="content-div21">
                <div class="office-staff-div">9 - A, B, C, D</div>
            </div>
        </div>
        <div class="column-edit-delete-from-qu">
            <div class="header-div15">
                <div class="classes-div">Actions</div>
            </div>
            <div class="content-div22">
                <button class="pencil-alt-button">
                    <img class="vector-icon3" alt="" src="~/Assets/IconEdit.svg" />
                </button>
                <div class="classes-div">|</div>
                <button class="pencil-alt-button">
                    <img class="vector-icon4" alt="" src="~/Assets/IconTrash.svg" />
                </button>
            </div>
            <div class="divider-solid30">
                <div class="baseline-div23"></div>
            </div>
            <div class="content-div23">
                <button class="pencil-alt-button">
                    <img class="vector-icon3" alt="" src="~/Assets/IconEdit.svg" />
                </button>
                <div class="classes-div">|</div>
                <button class="pencil-alt-button">
                    <img class="vector-icon4" alt="" src="~/Assets/IconTrash.svg" />
                </button>
            </div>
        </div>
    </div>
        -->
    </div>
    <div class="buttons-add-remove-staff">
        <b class="teachers-b">Teachers</b>
        <!-- <button class="button-add-staff-member1" id="buttonAddStaffMember1">
           <b class="button-label">Add Teachers</b>
         </button>-->

    </div>
    <div class="main-panel-lower1">
        <button class="add-office-staff2">
            <b class="lower-primary-1-4">
                <p class="lower-primary">Lower Primary</p>
                <p class="p">1-4</p>
            </b>
        </button>
        <button class="add-office-staff2">
            <b class="lower-primary-1-4">
                <p class="lower-primary">Middle Primary</p>
                <p class="p">5 - 6</p>
            </b>
        </button>
        <button class="add-office-staff2">
            <b class="lower-primary-1-4">
                <p class="lower-primary">Upper Primary</p>
                <p class="p">7 - 8</p>
            </b>
        </button>
        <button class="add-teachers-div1">
            <b class="lower-secondary-8-10">
                <p class="lower-primary">Lower Secondary</p>
                <p class="p">8-10</p>
            </b>
        </button>
        <button class="add-teachers-div1">
            <b class="lower-secondary-8-10">
                <p class="lower-primary">Preparatory</p>
                <p class="p">11 - 12</p>
            </b>
        </button>

    </div>
</div>
<div class="right-panel-div1">
    <div class="notifications-div1" id="Table - Notifications">
        <div class="header-div6">
            <img class="bell-icon1" alt="" src="~/Assets/IconBell.svg" /><b class="teachers-b">Notifications</b>
        </div>
        <div class="divider-solid16"><div class="baseline-div16"></div></div>
        <div class="notifications-row-11">
            <div class="text-group-basic9">
                <div class="amy-matthews-b">Final Exam is on Feb 26</div>
                <div class="weeks-left-div2">2 weeks left</div>
            </div>
            <div class="frame-div3"><div class="mins-div2">05 mins</div></div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div></div>
        <div class="notifications-row-11">
            <div class="text-group-basic9">
                <div class="amy-matthews-b">
                    Sports day will be held on Mar 16
                </div>
                <div class="weeks-left-div2">3 weeks left</div>
            </div>
            <div class="frame-div3"><div class="mins-div2">25 mins</div></div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div></div>
        <div class="notifications-row-11">
            <div class="text-group-basic9">
                <div class="amy-matthews-b">Watch found on the 1st floor.</div>
                <div class="weeks-left-div2">
                    Go to the lost and found on the...
                </div>
            </div>
            <div class="frame-div3"><div class="mins-div2">2 hrs</div></div>
        </div>
    </div>
    <div class="view-office-staff-accounts1" id="Table - Appointments">
        <div class="header-div6">
            <div class="auto-layout-home1">
                <img class="vector-icon1" alt="" src="~/Assets/IconAppointments.svg" />
            </div>
            <b class="teachers-b">Appointments</b>
        </div>
        <div class="divider-solid16"><div class="baseline-div16"></div></div>
        <div class="complaint-row-1">
            <div class="text-group-basic12">
                <div class="mr-levi-ackermann">Mr. Levi Ackermann</div>
            </div>
            <div class="apr-11-at-130pm">Apr 11 at 1:30pm</div>
            <div class="days-left-div">2 days left</div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div></div>
        <div class="complaint-row-1">
            <div class="text-group-basic12">
                <div class="mr-levi-ackermann">Mrs. Kuchel Ackermann</div>
            </div>
            <div class="apr-11-at-130pm">Apr 13 at 1:30pm</div>
            <div class="days-left-div">4 days left</div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div></div>
        <div class="complaint-row-1" id="Appointment Row #3">
            <div class="text-group-basic12">
                <div class="mr-levi-ackermann">Dr. Eren Jager</div>
            </div>
            <div class="apr-11-at-130pm">Apr 18 at 1:30pm</div>
            <div class="days-left-div">9 days left</div>
        </div>
        <div class="divider-solid17"><div class="baseline-div17"></div> </div>
    </div>
</div>
 